:root {
    --bg-dark: oklch(0.1 0 102);
    --bg: oklch(0.15 0 102);
    --bg-light: oklch(0.2 0 102);
    --text: oklch(0.96 0 102);
    --text-muted: oklch(0.76 0 102);
    --highlight: oklch(0.5 0 102);
    --border: oklch(0.4 0 102);
    --border-muted: oklch(0.3 0 102);
    --primary: #beb466;
    --secondary: oklch(0.76 0.1 282);
    --danger: oklch(0.7 0.05 30);
    --warning: oklch(0.7 0.05 100);
    --success: oklch(0.7 0.05 160);
    --info: oklch(0.7 0.05 260);
}

@font-face {
    font-family: "Star Crush";
    src: url('../assets/Star\ Crush.ttf');
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

button, a {
    cursor: url('../assets/pointer.cur'), auto;
}

html {
    background-image: url('../assets/star-bg.jpg');

    font-family: "Star Crush";
    color: var(--text);

    cursor: url('../assets/cursor.cur'), auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    overflow: hidden;
}

#starter {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 70vh;
    width: 40vw;
    padding: 5vw;

    font-size: 2.5rem;

    background-color: oklch(14.958% 0.00002 271.152 / 0.764);
    border: 5px solid var(--border);
    border-radius: 4vw;

    opacity: 0;
    animation: starterFadeIn 0.6s ease forwards;
}

@keyframes starterFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

    .logo {
        font-size: 5rem;
        color: var(--primary);
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        height: 60%;
    }

        #player-name-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            #player-name-input {
                font-size: 2.2rem;
                font-family: inherit;
                text-align: center;
                color: var(--text-muted);

                margin-top: 7px;
                padding: 2px;

                background: none;
                border: none;
                border-bottom: 3px solid var(--highlight);
            }

            #player-name-input:focus {
                color: var(--primary);

                outline: none;

                border-bottom: 3px solid var(--primary);
            }

        #start-game-btn {
            width: 100%;
            padding: 1vw;

            font-size: 2rem;
            font-family: inherit;
            color: inherit;

            background: none;
            border: none;
            border-radius: 1vw;
            overflow: hidden;

            position: relative;
            z-index: 1;
        }

        #start-game-btn::before {
            content: "";

            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            width: 0;
            height: 100%;

            background: var(--danger);

            transition: width 0.4s ease;
        }

        #start-game-btn:hover::before {
            width: 100%;
        }

#setup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65vw;
    height: 85vh;

    background-color: oklch(14.958% 0.00002 271.152 / 0.764);
    border: 5px solid var(--border);
    border-radius: 4vw;

    padding: 1vw;
}

    #setup-image-container {
        position: absolute;
        width: 38vw;
        height: 38vw;
        pointer-events: none;
    }

    #setup-board {
        width: 38vw;
        height: 38vw;
        background-color: oklch(14.958% 0.00002 271.152 / 0.764);
        border: 5px solid var(--border);
        border-radius: 2.5vw;

        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);

        overflow: hidden;
    }

    .setup-tile {
        border: 1px solid var(--border); 
    }

    .setup-tile:hover {
        background-color: oklch(40.167% 0.00005 271.152 / 0.196);
    }

    #setup-ships {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 23.5vw;
        height: 100%;
        border: 5px solid var(--border);
        border-radius: 2.5vw;
        padding: 0.5vw;
        gap: 10px;
    }

    .setup-option {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 20%;
        border: 3px solid var(--border);
        border-radius: 1.5vw;
        background-color: oklch(40.167% 0.00005 271.152 / 0.196);
        padding: 0.25vw;
    }

    .setup-option:hover {
        background-color: oklch(40.167% 0.00005 271.152 / 0.294);
    }

    .selected {
        background: oklch(40.167% 0.00005 271.152 / 0.461);
    }

    .option-image {}

    .option-name {
        font-size: 1.25rem;
        flex-direction: column;
    }

        .option-name > h3 {
            font-size: 2rem;
            font-weight: normal;
            color: var(--secondary);
        }

        .option-name > h3, .option-name > p { margin: 0; }

    .option-image, .option-name {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
    }

#end {
    display: none;
}
