:root {
    --bg-dark: oklch(0.1 0 102);
    --bg: oklch(0.15 0 102);
    --bg-light: oklch(0.2 0 102);
    --text: oklch(0.96 0 102);
    --text-muted: oklch(0.76 0 102);
    --highlight: oklch(0.5 0 102);
    --border: oklch(0.4 0 102);
    --border-muted: oklch(0.3 0 102);
    --primary: #beb466;
    --secondary: oklch(0.76 0.1 282);
    --danger: oklch(0.7 0.05 30);
    --warning: oklch(0.7 0.05 100);
    --success: oklch(0.7 0.05 160);
    --info: oklch(0.7 0.05 260);
}

@font-face {
    font-family: "Star Crush";
    src: url('../assets/Star\ Crush.ttf');
}

* {
    box-sizing: border-box;
}

button, a {
    cursor: url('../assets/pointer.cur'), auto;
}

html {
    background-image: url('../assets/star-bg.jpg');
    color: var(--text);
    font-family: "Star Crush";
    cursor: url('../assets/cursor.cur'), auto;
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#starter {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    width: 40vw;
    border-radius: 4vw;
    background-color: oklch(14.958% 0.00002 271.152 / 0.764);
    font-size: 2.5rem;
    padding: 5vw;

    border: 5px solid var(--border);
    animation: starterFadeIn 0.6s ease forwards;
}
@keyframes starterFadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}
    .logo {
        font-size: 5rem;
        color: var(--primary);
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 60%;

    }
        #player-name-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            #player-name-input {
                font-size: 2.2rem;
                font-family: inherit;
                background: none;
                border: none;
                border-bottom: 3px solid var(--highlight);
                margin-top: 7px;
                color: var(--text-muted);
                text-align: center;
                padding: 2px;
            }
            #player-name-input:focus {
                outline: none;
                border-bottom: 3px solid var(--primary);
                color: var(--primary);
            }
        #start-game-btn {
            font-size: 2rem;
            position: relative;
            z-index: 1;
            overflow: hidden;
            width: 100%;
            border: none;
            background: none;
            font-family: inherit;
            color: inherit;
            padding: 1vw;
            border-radius: 1vw;
        }
        #start-game-btn::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            background: var(--danger);
            z-index: -1;
            transition: width 0.4s ease;
        }
        #start-game-btn:hover::before {
            width: 100%;
        }
#game {
    display: none;
}

#end {
    display: none;
}